wheel
numpy
# contrib already includes everything in the base opencv-python package; having
# both installed at once leads to mixed-version cv2 installs
opencv-contrib-python
PyYAML
scikit-learn
scikit-image
tabulate
argparse
pandas
## Pupil-labs .pldata handling
rich
msgpack>=1.0.0